.headText{
    @media screen and (max-width:516px) {
    
      font-size: 18px !important;
    };
}

.imageWidth{
@media screen and (max-width:516px) {
    
    width: 50%;
    margin-right: 10px;
};
@media screen and (min-width:516px) {
    
    width: 40%;
};

}

.inputIdth{
    @media screen and (min-width:516px) {
    
        width: 85%;
    }; 
    @media screen and (max-width:516px) {
    
        width: 60%;
    }; 
}