.headText{
    @media screen and (max-width:516px) {
    
      font-size: 18px !important;
    };
}

.icons{
    @media screen and (max-width:516px) {
    
        width: 40% !important;
       
    };

    @media screen and (min-width:516px) {
    
        width: 30% !important;
        
    };

}

.imageWidth{

    
@media screen and (max-width:516px) {
    
    width: 45% !important;
    margin-right: 10px;
};
@media screen and (min-width:516px) {
    
    width: 10% !important;
    margin-right: 10px;
};

}

.inputIdth{
    @media screen and (min-width:516px) {
    
        width: 85%;
    }; 
    @media screen and (max-width:516px) {
    
        width: 60%;
    }; 
}