.imageWidth{
@media screen and (max-width:600px) {
    
    width: 20px;
};
@media screen and (min-width:600px) {
    
    width: 10px;
};

}

.inputIdth{
    @media screen and (min-width:600px) {
    
        width: 85%;
    }; 
    @media screen and (max-width:600px) {
    
        width: 70%;
    }; 
}